<div class="login-container" style="background-image: url('./assets/images/hero-bg.png')">
  <div class="login-box">
    <div class="logo"><img class="imglogo" src="assets/images/logo.png"></div>
    <h2>Welcome to Precision IQ</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email or Phone"
        required
        class="form-input"
      />

      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required
        class="form-input"
      />

      <button type="submit" class="btn-primary">SIGN IN</button>
    </form>
  </div>
</div>
